doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Zolexo Mart Pvt Ltd
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Verified Quality Buyer Generation Services, Best Company in Verified Quality Buyer Generation, Dynamic Website, Customized Design, SEO services, Google My Business, Lead Generation, Best Company in Verified Quality Buyer Generation, Best Digital Marketing Company for Google My Business SEO")
        meta(name="keywords" content="Verified Quality Buyer Generation, Local SEO, GMB SEO, Best Digital Marketing Company, Lead Generation, Website Design, Website Development, Customized Website, Responsive Website, E-commerce Website, Search Engine Optimization, Social Media Marketing, Best SEO Digital Marketing Company, Best Company in Verified Quality Buyer, Best Website Designing Company")
        meta(name="robots" content="index,follow")
        link(rel="canonical" href="https://zolexomart.in")
        meta(property="og:title" content="Zolexo Mart Pvt Ltd | Website Development | Digital Marketing")
        meta(property="og:site_name" content="https://zolexomart.in")
        meta(property="og:url" content="https://zolexomart.in")
        meta(property="og:description" content="Dynamic Website, Customized Design, SEO optimized, Landing Page & Blog Page Development")
        meta(property="og:type" content="website")
        meta(property="og:image" content="")

        // Google tag (gtag.js)
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-QCW5M672FJ")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-QCW5M672FJ');

        meta(name="google-site-verification" content="nXpMVKGyc0mkMAQ27vfXEjDtvsYrHygBnP9tX-vzsew")
        link(href="/img/Logo.jpg" rel="icon")

        // Carousel CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")

        // Google Web Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")

        // Fontawesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet")

        // Libraries Stylesheet
        link(href="lib/animate/animate.min.css" rel="stylesheet")
        link(href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet")
        link(href="lib/lightbox/css/lightbox.min.css" rel="stylesheet")

        // Customized Bootstrap Stylesheet
        link(href="css/bootstrap.min.css" rel="stylesheet")

        // Template Stylesheet
        link(href="css/style.css" rel="stylesheet")

        // Font style
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet")

        // jQuery
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        // Typed.js Script
        script(src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js" integrity="sha512-BdHyGtczsUoFcEma+MfXc71KJLv/cd+sUsUaYYf2mXpfG/PtBjNXsPo78+rxWjscxUYN2Qr2+DbeGGiJx81ifg==" crossorigin="anonymous")

    body
        // Start of Tawk.to Script
        script(type="text/javascript"). 
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/66e3ba6e50c10f7a00a93578/1i7kp0gnm';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        // End of Tawk.to Script

        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="contact")
                span.pulse-button 
                    img(src="/img/icons/contact-us.png" )
        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-fluid.bg-white.p-0
            // Navbar & Hero Start
            .tophead
                .nolist
                    ul
                        li
                            a(href="tel:+91-9958575960")
                                i.fa.fa-phone-square(aria-hidden="true")
                                | +91-9958575960
                        li
                            a(href="mailto:info@zolexomart.in")
                                i.fa.fa-envelope(aria-hidden="true")
                                | info@zolexomart.in

                .foot-socials.headicon
                    ul
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-facebook
                        li
                            a(href="http://www.linkedin.com/in/zolexomart-pvt-ltd-a7b613328" target="_blank")
                                i.fa-brands.fa-linkedin
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-google-plus
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-x-twitter
                        li
                            a(href="/" target="_blank")
                                i.fa-brands.fa-instagram

                #google_translate_element
            div.container-fluid.position-relative.p-0
                include ./components/nav.pug
                div.container-fluid.bg-primary.hero-header.mb-5.indexp
                    div.container.addp.px-lg-5
                        div.row.g-5
                            div.layer_img.blinker_anim
                                img(src="" alt="" title="")
                            div.col-lg-5.col-md-5.col-xs-12
                                img(src="/img/freep.png" alt="" class="imgbanner")
                            div.col-lg-7.col-md-7.col-xs-12
                                h1.bodh Boost Your Online Presence with Expert Digital Marketing Services by Zolexo Mart Pvt. Ltd
                                div.bod
                                    div.text Search
                                    span.typed-cursor | |
                                div 
                                  p.text-white Text-center Expert digital marketing services for SMEs, MSMEs, B2B, and B2C. We build responsive websites, enhance social media presence, and boost SEO rankings to help your business succeed in today's digital world. 
            
        div.container-xxl.py-5
            div.container.px-lg-5
                div.row.g-5
                    div.col-lg-6.wow.fadeInUp(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                        div.section-title.position-relative.mb-4.pb-2
                            h6.position-relative.text-primary.ps-4 About Us
                            h2.mt-2 Zolexo Mart Pvt Ltd
                        p.mb-4.addt
                            At Zolexo Mart Pvt Ltd, We are Dedicated to Revolutionizing the Digital Marketing Landscape. With a deep Passion for Innovation and results, Our Mission is to help Businesses grow and thrive in the ever-evolving Digital World. We believe in creating Tailored Marketing Strategies that not only drive traffic but also Convert Leads into Loyal customers.

                        div.d-flex.align-items-center.mt-4
                            a.btn.btn-primary.rounded-pill.px-4.me-3.media(href="about") Read More
                            a.btn.btn-outline-primary.btn-square.me-3(href="")
                                i.fab.fa-facebook-f
                            a.btn.btn-outline-primary.btn-square.me-3(href="")
                                i.fab.fa-twitter
                            a.btn.btn-outline-primary.btn-square.me-3(href="")
                                i.fab.fa-instagram
                            a.btn.btn-outline-primary.btn-square(href="")
                                i.fab.fa-linkedin-in

                    div.col-lg-6
                        img.img-fluid.wow.zoomIn(data-wow-delay="0.5s" src="/img/group-three-modern-architects.png" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;")

        .container-xxl.py-5
            div.container.px-lg-5
                div.section-title.position-relative.text-center.mb-5.pb-2.wow.fadeInUp(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                    h6.position-relative.d-inline.text-primary.ps-4 Our Services
                    h2.mt-2 What Solutions We Provide
                div.row.g-4
                    each service in Services
                        div.col-lg-4.col-md-6.wow.zoomIn(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;")
                            div.service-item.d-flex.flex-column.justify-content-center.text-center.rounded
                                div.service-icon.flex-shrink-0
                                  img(src=service.subImageUrl alt="not image")
                                  h5.mb-3 #{service.serviceName}
                                  p #{service.subDescription}
                                  a.btn.px-3.mt-auto.mx-auto(href=`/service/${service.id}/${service.route}`) Read More

        section.mobileapp-dev
            .container-xxl.py-5
                .container.px-lg-5
                .section-title.position-relative.text-center.mb-5.pb-2.wow.fadeInUp(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                    h2.mt-2 Why Your Business Needs Digital Marketing Services?
                
                .container
                    .row
                        each service in businessNeeds
                            .col-md-6.col-lg-4.wow.zoomIn(data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: zoomIn;")
                                .services-wrapper
                                    .services-inner-img
                                        img( decoding="async" src=service.imgSrc alt=service.title class="entered lazyloaded")
                                    h3= service.title
                                    p= service.description


        .mobileapp-dev.container-xxl.py-5
            .container.px-lg-5
                .section-title.position-relative.text-center.mb-5.pb-2.wow.fadeInUp(data-wow-delay="0.1s")
                    h2.mt-2 Why Your Business Needs Digital Marketing?
                .row.g-4
                    .col-lg-4.col-md-6
                        .feature-item.wow.fadeInUp(data-wow-delay="0.1s")
                            .feature-icon.flex-shrink-0
                            div.services-inner-img
                              img(src="./img/icons/Support-Brand-Value.webp" alt="")
                            div   
                            h5.mt-3 Why you need Digital Marketing
                            p Adipiscing elit. Eiusmod tempor incididunt ut labore et dolore magna aliqua.

                    .col-lg-4.col-md-6
                        .feature-item.wow.fadeInUp(data-wow-delay="0.5s")
                            .feature-icon.flex-shrink-0
                            div.services-inner-img
                              img(src="./img/icons/Support-Brand-Value.webp" alt="")
                            div
                            h5.mt-3 Get Targeted Traffic
                            p Adipiscing elit. Eiusmod tempor incididunt ut labore et dolore magna aliqua.

                    .col-lg-4.col-md-6
                        .feature-item.wow.fadeInUp(data-wow-delay="0.8s")
                            .feature-icon.flex-shrink-0
                            div.services-inner-img
                              img(src="./img/icons/Support-Brand-Value.webp" alt="")
                            div
                            h5.mt-3 Improve Conversion Rates
                            p Adipiscing elit. Eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .container-xxl.py-5.industry-new-block
            .container.px-lg-5
                .row
                    .col-lg-3.col-md-5.col-12.mb-2
                        h3 Industries We Cater
                        p(style="font-size: 15px;") Our Verified Quality Buyer Generation services meets needs of
                        | various Industries with Advanced Techniques our Digital Marketing Company help in generating Verified Quality Buyers for Medical,
                        | Machinery, Handicraft, Education, Industrial Categories and many Others All to enhance customer
                        | engagement Streamline Operation and Drive Growth
                        .main-banner-button
                            a(href="industry")
                                button View All Industries

                    .col-lg-9.col-md-7.col-12
                        .owl-slider
                            #carousel.owl-carousel
                                .item
                                    .newindus-slide
                                        .img
                                            img.img-fluid(width="280" height="419" decoding="async" src="/img/2176.jpg" alt="Healthcare")
                                        .indus-btn Healthcare

                                .item
                                    .newindus-slide
                                        .img
                                            img.img-fluid(width="280" height="419" decoding="async" src="/img/real-estate-6688945_1280.jpg" alt="Real Estate")
                                        .indus-btn Real Estate

                                .item
                                    .newindus-slide
                                        .img
                                            img.img-fluid(width="280" height="419" decoding="async" src="/img/containers-2018438_1280.jpg" alt="Logistic")
                                        .indus-btn Logistic

                                .item
                                    .newindus-slide
                                        .img
                                            img.img-fluid(width="280" height="419" decoding="async" src="/img/library-488690_1280.jpg" alt="Education")
                                        .indus-btn Education

                                .item
                                    .newindus-slide
                                        .img
                                            img.img-fluid(width="280" height="419" decoding="async" src="/img/worker-4395768_1280.jpg" alt="Automobile")
                                        .indus-btn Automobile

                                .item
                                    .newindus-slide
                                        .img
                                            img.img-fluid(width="280" height="419" decoding="async" src="/img/laboratory-563423_1280.jpg" alt="Medical")
                                        .indus-btn Medical

                                .item
                                    .newindus-slide
                                        .img
                                            img.img-fluid(width="280" height="419" decoding="async" src="/img/factory-671598_1280.jpg" alt="Machinery")
                                        .indus-btn Machinery
        .container-xxl.py-5
            .container.px-lg-5
                .row
                    .section-title.position-relative.text-center.mb-5.pb-2.wow.fadeInUp(data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;")
                        h2.mt-2 Our Blogs
                    .col-lg-12.col-md-7.col-12
                        .owl-slider
                            #carouselblog.owl-carousel
                                .item
                                    a(href="buyer-lead-blog")
                                        .newindus-slide
                                            .img
                                                img.img-fluid(width="280" height="419" decoding="async" src="/img/bloglead.jpg" alt="Real Estate")
                                            .indus-btn Buyer Leads Impact on Revenue and Reasons to Invest in Them

                                .item
                                    a(href="seo-blog")
                                        .newindus-slide
                                            .img
                                                img.img-fluid(width="280" height="419" decoding="async" src="/img/laptop-7669027_1280.jpg" alt="Real Estate")
                                            .indus-btn SEO, or Search Engine Optimization, refers to the process of improving a website's visibility on search engine results pages (SERPs).

                                .item
                                    a(href="business-blog")
                                        .newindus-slide
                                            .img
                                                img.img-fluid(width="280" height="419" decoding="async" src="/img/desk-3139127_640.jpg" alt="Real Estate")
                                            .indus-btn Transform Your Business Revenue with Content Marketing

                                .item
                                    a(href="development-blog")
                                        .newindus-slide
                                            .img
                                                img.img-fluid(width="280" height="419" decoding="async" src="/img/Picture2.png" alt="Real Estate")
                                            .indus-btn The Power of Web Development in Boosting Your Digital Marketing Strategy

                                .item
                                    a(href="smo-blog")
                                        .newindus-slide
                                            .img
                                                img.img-fluid(width="280" height="419" decoding="async" src="/img/Picture3.png" alt="Real Estate")
                                            .indus-btn SMO: Strategy to use Social-Media to Boost Up Your Business

                                .item
                                    a(href="gmb-blog")
                                        .newindus-slide
                                            .img
                                                img.img-fluid(width="280" height="419" decoding="async" src="/img/Picture4.png" alt="Real Estate")
                                            .indus-btn Google My Business: A Powerful Tool for All Businesses

                                .item
                                    a(href="msmes-blog")
                                        .newindus-slide
                                            .img
                                                img.img-fluid(width="280" height="419" decoding="async" src="/img/0.jpg" alt="Real Estate")
                                            .indus-btn How MSMEs Can Grow Using Digital Marketing

                                .item
                                    a(href="digital-marketing-blog")
                                        .newindus-slide
                                            .img
                                                img.img-fluid(width="280" height="419" decoding="async" src="/img/jdhs.jpg" alt="Real Estate")
                                            .indus-btn Digital marketing is essential for businesses in today
        .google-map-section
            iframe(src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3503.377850053077!2d77.31170387549922!3d28.588439375688882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDM1JzE4LjQiTiA3N8KwMTgnNTEuNCJF!5e0!3m2!1sen!2sin!4v1726492216452!5m2!1sen!2sin"
                width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade")

        include ./components/footer.pug

        // Scripts for Libraries
        script(src="lib/wow/wow.min.js")
        script(src="lib/easing/easing.min.js")
        script(src="lib/owlcarousel/owl.carousel.min.js")
        script(src="lib/lightbox/js/lightbox.min.js")

        // Customized Bootstrap Scripts
        script(src="js/bootstrap.bundle.min.js")

        // Carousel JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")

        // Template Scripts
        script(src="js/main.js")

        // Typed.js Initialization
        script.
            $(document).ready(function() {
                

                var options = {
                    strings: [
                        "Search",
                        "Google My Business",
                        "Digital Marketing"
                    ],
                    typeSpeed: 50,
                    backSpeed: 50,
                    loop: true
                };
                new Typed('.text', options);

                $('#carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: false,
                    dots: true,
                    autoplay: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 3.5
                        }
                    }
                });

                $('#carouselblog').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: false,
                    dots: true,
                    autoplay: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 3
                        }
                    }
                });
            });