doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{Service.serviceName} - Zolexo Mart Pvt Ltd
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=Service.subDescription)
        meta(name="keywords" content="Verified Quality Buyer Generation, Local SEO, GMB SEO, Best Digital Marketing Company, Lead Generation")
        meta(name="robots" content="index,follow")
        link(rel="canonical" href="https://zolexomart.in")
        meta(property="og:title" content=Service.serviceName)
        meta(property="og:description" content=Service.subDescription)
        link(href="/img/Logo.jpg" rel="icon")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")

    body
        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="contact")
                span.pulse-button 
                    img(src="/img/icons/contact-us.png" )

        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-xxl.bg-white.p-0
            // Navbar
            include ./components/nav.pug
        .hero-header.bgservice.bg
            h1.text-white.animated.zoomIn Our Services
            img(src="../img/2149256145.jpg", alt="", width="100%")
        .container-fluid
            .row.pd
                .col-md-3.col-lg-3.borderr
                    aside.widget-area
                        h2.text-center Our Services
                        ul.pbmit-all-post-list
                            each serviceItem in OurServices
                                li(class=(serviceItem.id === Service.id ? 'pbmit-post-active' : ''))
                                    a(href=`/service/${serviceItem.id}`) #{serviceItem.serviceName}

                .col-md-9.col-lg-9
                    .imgheight(style="height: 480px; overflow: hidden;")
                        img(src=Service.mainImageUrl, alt=Service.serviceName)

        .container-fluid.my-5
            .row
                .col-md-3.col-lg-3
                    .contactservice.mb-5
                        a.connum(href="tel:9958575960") +91-9958575960
                        h2 We Provide
                        h1 Best Service
                        p.num
                            a(href="tel:9958575960") Contact Us Now
                    .pdfsection
                        h2.text-center.mb-4 Company Profile
                        div.sectionadd.mb-4(style="border-bottom: 1px solid #c1c1c1;") 
                            div 
                                img(src="../img/icons/pdf.png")        
                            div 
                                h1 Document of Bussiness
                                    p Broucher  
                            div        
                                <i class="fa-solid fa-download"></i>
                        div.sectionadd 
                            div 
                                img(src="../img/icons/word.png")        
                            div 
                                h1 Download Word File
                                    p Broucher  
                            div        
                                <i class="fa-solid fa-download"></i>
                .col-md-9.col-lg-9
                    .contectservice.mb-5
                        h2 #{Service.serviceName}
                        p 
                            | #{Service.details.description1} #{Service.details.description2}

                    .row.gap
                        each card in Service.cards
                            .col-md-4
                                .pbmit-ihbox-headingicon
                                    .pbmit-ihbox-icon
                                        //- img(src=`/img/cards/${card.img}`, alt=card.name)
                                        img(src=`https://i.postimg.cc/FzcRK25G/digital-services.png`, alt=card.name)
                                    .pbmit-ihbox-contents
                                        h2.pbmit-element-title #{card.name}
                                        p.pbmit-heading-desc #{card.desc}

                    .row.my-5
                        .col-md-6
                            .imgheight
                                img(src="../img/0.jpg" alt="Benefits Image")
                        .col-md-6
                            .contectservice
                                h2 Benefits Of  #{Service.serviceName} 
                                p #{Service.benefits.description}
                                ol
                                    each point in Service.benefits.points
                                        li #{point}
                    .container-fluid
                        h2.text-center.mt-5 Frequently Asked Questions
                        .row
                            // Display FAQ description once at the top
                            .col-12
                                .faq-description
                                    p #{Service.faq.description}
                        ul.accordion-list
                            each qa in Service.faq.qa
                                li
                                    h3 #{qa.question}
                                    .answer
                                        p #{qa.answer}
                            
                    
        
           

        include ./components/footer.pug

        // Scripts
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="/lib/owlcarousel/owl.carousel.min.js")
        script(src="/js/main.js")
        script.
            $(document).ready(function() {
                $('.accordion-list > li > .answer').hide();

                $('.accordion-list > li').click(function() {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active").find(".answer").slideUp();
                } else {
                    $(".accordion-list > li.active .answer").slideUp();
                    $(".accordion-list > li.active").removeClass("active");
                    $(this).addClass("active").find(".answer").slideDown();
                }
                return false;
                });
            });
