doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{Service.serviceName} - Zolexo Mart Pvt Ltd
        meta(name="title" content=Service.seo.metaTitle)
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content= Service.seo.metaDescription)
        meta(name="keywords" content= Service.seo.metaKeywords)
        meta(name="robots" content= Service.seo.robots)
        link(rel="canonical" href= Service.seo.canonical)
        meta(property="og:title" content=Service.seo.metaTitle)
        meta(property="og:description" content=Service.seo.metaDescription)
        link(href="/img/Logo.jpg" rel="icon")

        // Fontawesome
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet")



        //font-family  
        link(href="https://fonts.googleapis.com" rel="preconnect")
        link(href="https://fonts.gstatic.com" rel="preconnect" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet")
        // Customized Bootstrap Stylesheet
        link(href="/css/bootstrap.min.css" rel="stylesheet")

        // Template Stylesheet
        link(href="/css/style.css" rel="stylesheet")

        // Font style
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet")

        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    body
        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="contact")
                span.pulse-button 
                    img(src="/img/icons/contact-us.png" )

        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-xxl.bg-white.p-0
            // Navbar
            include ./components/nav.pug
        .hero-header.bgservice.bg
            //- h1.text-white.animated.zoomIn= Service.serviceName
            img(src=Service.bannerImageUrl alt="" width="100%")


        #popup1.overlay
            .popup
                h2 To Download File
                a.close(href="#") &times;
                .form-container
                    form#emailContact(method="post" name="emailContact")
                        .input-row
                            label Name<em>*</em>
                            input.form-control(type="text" placeholder="Enter your Name" name="userName", required)
                        .input-row
                            label Email<em>*</em>
                            input.form-control(type="email" placeholder="Enter your Email" name="userEmail", required)
                        .input-row
                            label Phone<em>*</em>
                            input.form-control(type="number" placeholder="Enter your Mobile Number" name="userPhone", required)

                        .input-row
                            input.btn(type="submit" name="send" value="Submit")

        .container-fluid
            .row.pd
                .col-md-3.col-lg-3.borderr
                    aside.widget-area
                        h2.text-center Our Services
                        ul.pbmit-all-post-list
                            each serviceItem in OurServices
                                li(class=(serviceItem.id === Service.id ? 'pbmit-post-active' : ''))
                                    a(href=`/service/${serviceItem.id}/${serviceItem.route}`) #{serviceItem.serviceName}
                        li.newbtn 
                            a(href="/view-all-services") View All Services
                .col-md-9.col-lg-9
                    .imgheight
                        img(src=Service.mainImageUrl, alt=Service.serviceName)

        .container-fluid.my-5
            .row
                .col-md-3.col-lg-3
                    .contactservice.mb-5
                        a.connum(href="tel:9958575960") +91-9958575960
                        h2 We Provide
                        h1 Best Service
                        p.num
                            a(href="tel:9958575960") Contact Us Now
                    .pdfsection
                        h2.text-center.mb-4 Company Profile
                        a.button(href="#popup1")
                            div.sectionadd.mb-4(style="border-bottom: 1px solid #c1c1c1;") 
                                div.d-flex.flex-row
                                    img(src="/img/icons/pdf.png")        
                                    h1 Document of SEO
                                        p Broucher  
                                div        
                                    <i class="fa-solid fa-download"></i>
                        a.button(href="#popup1")
                            div.sectionadd.mb-4(style="border-bottom: 1px solid #c1c1c1;") 
                                div.d-flex.flex-row
                                    img(src="/img/icons/pdf.png")        
                                    h1 Document of MetaAds
                                        p Broucher  
                                div        
                                    <i class="fa-solid fa-download"></i>
                        a.button(href="#popup1")
                            div.sectionadd.mb-4(style="border-bottom: 1px solid #c1c1c1;") 
                                div.d-flex.flex-row
                                    img(src="/img/icons/pdf.png")        
                                    h1 Buyer-Generation
                                        p Broucher  
                                div        
                                    <i class="fa-solid fa-download"></i>
                        a.button(href="#popup1")
                            div.sectionadd.mb-4(style="border-bottom: 1px solid #c1c1c1;") 
                                div.d-flex.flex-row
                                    img(src="/img/icons/pdf.png")        
                                    h1 Document of Website
                                        p Broucher  
                                div        
                                    <i class="fa-solid fa-download"></i>
                        a.button(href="#popup1")            
                            div.sectionadd 
                                div.d-flex.flex-row
                                    img(src="/img/icons/pdf.png")        
                                    h1 Download Google Ads
                                        p Broucher  
                                div        
                                    <i class="fa-solid fa-download"></i>
                .col-md-9.col-lg-9
                    .contectservice.mb-5
                        h2 #{Service.serviceName}
                        p #{Service.details.description1} 
                        if (Service.details.description2)
                            br
                            p #{Service.details.description2}

                    .row.gap
                        each card, index in Service.cards
                            .col-md-4
                                .pbmit-ihbox-headingicon
                                    .pbmit-ihbox-icon
                                        img(src=ServiceBenefitsIcons[index], alt='pookie')
                                    .pbmit-ihbox-contents
                                        h2.pbmit-element-title #{card.name}
                                        p.pbmit-heading-desc #{card.desc}

                    .row.my-3
                        .col-md-6
                            .imgheight
                                img(src=Service.benefits.image alt="Benefits Image")
                        .col-md-6
                            .contectservice
                                h2 Benefits Of  #{Service.serviceName} 
                                p #{Service.benefits.description}
                    ul.contectul
                        each point in Service.benefits.points
                            li #{point}
                    

        .container-xxl.py-5.bglight
            .container.px-lg-5
                .row.g-5
                    .col-lg-6(style="margin-top: 50px; text-align: center;")
                        img.img-fluid.wow(zoomIn, data-wow-delay="0.5s", src=Service.ourApproach.image, width="100%", style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn")
                    .col-lg-6.wow.fadeInUp(data-wow-delay="0.1s", style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp")
                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 Our Approach For #{Service.serviceName}
                        p.mb-4.addt= Service.ourApproach.description
        .container-xxl.py-5
            .container.px-lg-5
                .row.g-5
                    .col-lg-6.wow.fadeInUp(data-wow-delay="0.1s", style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp")
                        .section-title.position-relative.mb-4.pb-2
                            h2.mt-2 User-Friendly #{Service.serviceName}
                        p.mb-4.addt= Service.userFriendly.description
                    .col-lg-6(style="margin-top: 50px; text-align: center;")
                        img.img-fluid.wow(zoomIn, data-wow-delay="0.5s", src=Service.userFriendly.image, width="100%", style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn")
        .container
                        h2.text-center.mt-5 Frequently Asked Questions
                        .row
                            // Display FAQ description once at the top
                            .col-12
                                .faq-description
                                    p #{Service.faq.description}
                        ul.accordion-list
                            each qa in Service.faq.qa
                                li
                                    h3 #{qa.question}
                                    .answer
                                        p #{qa.answer}



        include ./components/footer.pug

        // Scripts for Libraries
        script(src="/lib/wow/wow.min.js")

        // Customized Bootstrap Scripts
        script(src="/js/bootstrap.bundle.min.js")

        // Carousel JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")

        // Template Scripts
        script(src="/js/main.js")
        script.
            $(document).ready(function() {
                $('.accordion-list > li > .answer').hide();

                $('.accordion-list > li').click(function() {
                    
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active").find(".answer").slideUp();
                } else {
                    $(".accordion-list > li.active .answer").slideUp();
                    $(".accordion-list > li.active").removeClass("active");
                    $(this).addClass("active").find(".answer").slideDown();
                }
                return false;
                });
            
                $('#emailContact').on('submit', function(event) {
                    event.preventDefault(); // Prevent default form submission

                    var formData = $(this).serialize(); // Serialize form data

                    $.ajax({
                        url: '/api/to-download-companypdf',
                        type: 'POST',
                        data: formData,
                        xhr: function() {
                            var xhr = new window.XMLHttpRequest();
                            xhr.responseType = 'blob'; // Set response type to blob
                            return xhr;
                        },
                        success: function(blob) {
                            var url = window.URL.createObjectURL(blob); // Create a URL for the blob
                            var a = document.createElement('a'); 
                            a.href = url;
                            a.download = 'ZolexoMartDocs.zip';
                            document.body.appendChild(a);
                            a.click();
                            a.remove(); 
                            window.location.href = '/';
                        },
                        error: function() {
                            console.error('An error occurred while downloading the file.');
                        }
                    });
                });


            });
