doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title #{Service.serviceName} - Zolexo Mart Pvt Ltd
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=Service.subDescription)
        meta(name="keywords" content="Verified Quality Buyer Generation, Local SEO, GMB SEO, Best Digital Marketing Company, Lead Generation")
        meta(name="robots" content="index,follow")
        link(rel="canonical" href="https://zolexomart.in")
        meta(property="og:title" content=Service.serviceName)
        meta(property="og:description" content=Service.subDescription)
        link(href="/img/Logo.jpg" rel="icon")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")

    body
        #customerQuery_btn_right
            a.modal-body.querypop-page-start.getfq(href="contact.php")
                p.awesome Contact Us

        .whatsaap
            a(href="https://wa.me/9958575960")
                img(src="/img/whatsapp.png" alt="WhatsApp")

        .container-xxl.bg-white.p-0
            // Navbar
            include ./components/nav.pug

        .container-fluid
            .row
                .col-md-3.col-lg-3
                    aside.widget-area
                        h2 Our Services
                        ul.pbmit-all-post-list
                            each serviceItem in OurServices
                                li(class=(serviceItem.id === Service.id ? 'pbmit-post-active' : ''))
                                    a(href=`/service/${serviceItem.id}`) #{serviceItem.serviceName}

                .col-md-9.col-lg-9
                    .imgheight(style="height: 480px; overflow: hidden;")
                        img(src=Service.mainImageUrl, alt=Service.serviceName)

        .container-fluid.my-5
            .row
                .col-md-3.col-lg-3
                    .contactservice
                        a.connum(href="tel:9761407482") +91-9761407482
                        h2 We Provide
                        h1 Best Service
                        p.num
                            a(href="tel:9761407482") Contact Us Now

                .col-md-9.col-lg-9
                    .contectservice.mb-3
                        h2 #{Service.serviceName}
                        p 
                            | #{Service.details.description1} #{Service.details.description2}

                    .row
                        each card in Service.cards
                            .col-md-4
                                .pbmit-ihbox-headingicon
                                    .pbmit-ihbox-icon
                                        img(src=`/img/cards/${card.img}`, alt=card.name)
                                    .pbmit-ihbox-contents
                                        h2.pbmit-element-title #{card.name}
                                        p.pbmit-heading-desc #{card.desc}

                    .row.my-5
                        .col-md-6
                            .imgheight
                                img(src="/img/sample-image.jpg" alt="Benefits Image")
                        .col-md-6
                            .contectservice
                                h2 Benefits Of  #{Service.serviceName} 
                                p #{Service.benefits.description}
                                ol
                                    each point in Service.benefits.points
                                        li #{point}

        .container-fluid
            h2.text-center.mt-5 Frequently Asked Questions
            .row
                // Display FAQ description once at the top
                .col-12
                    .faq-description
                        p #{Service.faq.description}

                // Loop through the 'qa' array to show each question and answer
                each qa in Service.faq.qa
                    .col-md-6
                        .faq-section
                            h4 #{qa.question}
                            p #{qa.answer}

        include ./components/footer.pug

        // Scripts
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")
        script(src="/lib/owlcarousel/owl.carousel.min.js")
        script(src="/js/main.js")
