extends ../layout

block content
  include ../components/nav.pug

  .container
    .row
      // Form for adding new service
      form(action=`/services/edit/${service.id}` method="POST" class="mb-4 border p-4 rounded shadow" enctype="multipart/form-data")     
        div.section.mb-5
          .row.mb-3
            label.col-sm-2.col-form-label(for="serviceName" class="form-label") Service Name
            .col-sm-10
              input(type="text" name="serviceName" value=service.serviceName placeholder="Enter service name" class="form-control")

          .row.mb-3
            label.col-sm-2.col-form-label(for="subImage" class="form-label") Sub Image
            .col-sm-10
              img(src=service.subImageUrl alt="Sub Image" style="max-width: 200px; display: block;" id="existingSubImage")
              input#subImage(type="file" name="subImage" accept="image/*" class="form-control")
              img#subImagePreview.mt-2(src="#" alt="Sub Image Preview" style="max-width: 200px; display: none;")
              input#subImageURL(type="hidden" name="subImageURL" value=service.subImageUrl)

          .row.mb-3
            label.col-sm-2.col-form-label(for="bannerImage" class="form-label") Banner Image
            .col-sm-10
              img(src=service.bannerImageUrl alt="Banner Image" style="max-width: 200px; display: block;" id="existingBannerImage")
              input#bannerImage(type="file" name="bannerImage" accept="image/*" class="form-control")
              img#bannerImagePreview.mt-2(src="#" alt="Banner Image Preview" style="max-width: 200px; display: none;")
              input#bannerImageURL(type="hidden" name="bannerImageURL" value=service.bannerImageUrl)

          .row.mb-3
            label.col-sm-2.col-form-label(for="mainImage" class="form-label") Main Image
            .col-sm-10
              img(src=service.mainImageUrl alt="Main Image" style="max-width: 200px; display: block;" id="existingMainImage")
              input#mainImage(type="file" name="mainImage" accept="image/*" class="form-control")
              img#mainImagePreview.mt-2(src="#" alt="Main Image Preview" style="max-width: 200px; display: none;")
              input#mainImageURL(type="hidden" name="mainImageURL" value=service.mainImageUrl)

          .row.mb-3
            label.col-sm-2.col-form-label(for="subDescription" class="form-label") Sub Description
            .col-sm-10
              textarea(name="subDescription" class="form-control" placeholder="Enter a sub description")= service.subDescription
          
        div.section.mb-5  
          h5.my-4 Detailed Description
          .row.mb-3
            label.col-sm-2.col-form-label(for="description1" class="form-label") Short Description 1
            .col-sm-10  
              textarea(name="description1" class="form-control" placeholder="Enter a short description 1")= service.details.description1

          .row.mb-3
            label.col-sm-2.col-form-label(for="description2" class="form-label") Short Description 2 
            .col-sm-10  
              textarea(name="description2" class="form-control" placeholder="Enter a short description 2")= service.details.description2

        // Cards Section
        div.section.mb-5 
          h5.mt-4 Service Cards
          .card-section
            each card, index in service.cards
              hr(style="border: 2px solid black;")
              .row.mb-3
                label.col-sm-2.col-form-label(for=`card${index + 1}Name` class="form-label") Card #{index + 1} Name
                .col-sm-10
                  input(type="text" name=`card${index + 1}Name` value=card.name placeholder=`Enter Card ${index + 1}` class="form-control" id=`card${index + 1}Name`)
              .row.mb-3
                label.col-sm-2.col-form-label(for=`card${index + 1}Desc` class="form-label") Card #{index + 1} Description
                .col-sm-10
                  input(type="text" name=`card${index + 1}Desc` value=card.desc placeholder=`Enter Card ${index + 1} description` class="form-control")

            #added-cards

          if service.cards.length < 3
            button(type="button" id="addCardBtn" class="btn btn-secondary mt-3") Add Card

        // Benefits Section
        div.section.mb-5
          h5.mt-4 Benefits
          .benefit-section
            .row.mb-3
              label.col-sm-2.col-form-label(for="benefitImage" class="form-label") Benefit Image
              .col-sm-10
                img(src=service.benefits.image alt="Benefit Image" style="max-width: 200px; display: block;" id="existingBenefitImage")
                input#benefitImage(type="file" name="benefitImage" accept="image/*" class="form-control")
                img#benefitImagePreview.mt-2(src="#" alt="Benefit Image Preview" style="max-width: 200px; display: none;")
                input#benefitImageURL(type="hidden" name="benefitImageURL" value=service.benefits.image)

            .row.mb-3
              label.col-sm-2.col-form-label(for="benefitsDescription" class="form-label") Benefit Description
              .col-sm-10
                textarea(name="benefitsDescription" class="form-control" placeholder="Enter benefit description")= service.benefits.description

            each point, index in service.benefits.points
              hr(style="border: 2px solid black;")
              .row.mb-3
                label.col-sm-2.col-form-label(for=`benefit${index + 1}` class="form-label") Benefit Point #{index + 1}
                .col-sm-10
                  input(type="text" name=`benefit${index + 1}` value=point placeholder=`Enter benefit point ${index + 1}` class="form-control")

            #added-points
            
          if service.benefits.points.length < 3
            button(type="button" id="addBenefitBtn" class="btn btn-secondary mt-3") Add Benefit

        // Our Approach Section
        div.section.mb-5 
          h5.mt-4 Our Approach
          .our-approach-section
            .row.mb-3
              label.col-sm-2.col-form-label(for="ourApproachImage" class="form-label") Our Approach Image
              .col-sm-10
                img(src=service.ourApproach.image alt="Our Approach Image" style="max-width: 200px; display: block;" id="existingOurApproachImage")
                input#ourApproachImage(type="file" name="ourApproachImage" accept="image/*" class="form-control")
                img#ourApproachImagePreview.mt-2(src="#" alt="Our Approach Image Preview" style="max-width: 200px; display: none;")
                input#ourApproachImageURL(type="hidden" name="ourApproachImageURL" value=service.ourApproach.image)

            .row.mb-3
              label.col-sm-2.col-form-label(for="ourApproachDescription" class="form-label") Our Approach Description
              .col-sm-10
                textarea(name="ourApproachDescription" class="form-control" placeholder="Enter Our Approach description")= service.ourApproach.description

        // User Friendly Section
        div.section.mb-5 
          h5.mt-4 User Friendly
          .user-friendly-section
            .row.mb-3
              label.col-sm-2.col-form-label(for="userFriendlyImage" class="form-label") User Friendly Image
              .col-sm-10
                img(src=service.userFriendly.image alt="User Friendly Image" style="max-width: 200px; display: block;" id="existingUserFriendlyImage")
                input#userFriendlyImage(type="file" name="userFriendlyImage" accept="image/*" class="form-control")
                img#userFriendlyImagePreview.mt-2(src="#" alt="User Friendly Image Preview" style="max-width: 200px; display: none;")
                input#userFriendlyImageURL(type="hidden" name="userFriendlyImageURL" value=service.userFriendly.image)

            .row.mb-3
              label.col-sm-2.col-form-label(for="userFriendlyDescription" class="form-label") User Friendly Description
              .col-sm-10
                textarea(name="userFriendlyDescription" class="form-control" placeholder="Enter User Friendly description")= service.userFriendly.description

        // FAQ Section
        div.section.mb-5 
          h5.mt-4 FAQ Section
          .faq-section
            .row.mb-3
              label.col-sm-2.col-form-label.fw-bold(for="faqDescription" class="form-label") FAQ Description
              .col-sm-10
                textarea(name="faqDescription" class="form-control" placeholder="Enter benefit description")= service.faq.description
            each faq, index in service.faq.qa
              hr(style="border: 2px solid black;")
              .row.mb-3
                label.col-sm-2.col-form-label(for=`faqQuestion${index + 1}` class="form-label")
                  strong Q #{index + 1}
                .col-sm-10
                  textarea(name=`faqQuestion${index + 1}` class="form-control" placeholder=`Enter FAQ question${index + 1}`)= faq.question

              .row.mb-3
                label.col-sm-2.col-form-label(for=`faqAnswer${index + 1}` class="form-label")
                  strong A #{index + 1}
                .col-sm-10
                  textarea(name=`faqAnswer${index + 1}` class="form-control" placeholder=`Enter FAQ answer${index + 1}`)= faq.answer

            #added-faqs

          if service.faq.qa.length < 3
            button#addFAQBtn(type="button" class="btn btn-secondary mt-3") Add FAQ

        // SEO Section
        div.section.mb-5
          h5.mt-4 SEO Section
          .row.mb-3
            label.col-sm-2.col-form-label(for="metaTitle" class="form-label") Meta Title
            .col-sm-10
              input(type="text" name="metaTitle" value=service.seo.metaTitle placeholder="Enter meta title" class="form-control" required)
          
          .row.mb-3
            label.col-sm-2.col-form-label(for="metaDescription" class="form-label") Meta Description
            .col-sm-10
              textarea(name="metaDescription" class="form-control" placeholder="Enter meta description" required)= service.seo.metaDescription
          
          .row.mb-3
            label.col-sm-2.col-form-label(for="metaKeywords" class="form-label") Meta Keywords
            .col-sm-10
              input(type="text" name="metaKeywords" value=service.seo.metaKeywords placeholder="Enter meta keywords" class="form-control" required)
          
          .row.mb-3
            label.col-sm-2.col-form-label(for="keywordsPlanner" class="form-label") Keywords Planner
            .col-sm-10
              input(type="text" name="keywordsPlanner" value=service.seo.keywordsPlanner placeholder="Enter planned keywords" class="form-control" required)
          
          .row.mb-3
            label.col-sm-2.col-form-label(for="canonical" class="form-label") Canonical URL
            .col-sm-10
              input(type="url" name="canonical" value=service.seo.canonical placeholder="Enter canonical URL" class="form-control" required)
          
          .row.mb-3
            label.col-sm-2.col-form-label(for="robots" class="form-label") Robots
            .col-sm-10
              select(name="robots" class="form-control" required)
                option(value="index, follow" selected=(service.seo.robots === 'index, follow')) index, follow
                option(value="noindex, nofollow" selected=(service.seo.robots === 'noindex, nofollow')) Noindex, Nofollow

        // Route Section
        div.section.mb-5
          h5.mt-4 Route Section
          .row.mb-3
            label.col-sm-2.col-form-label(for="route" class="form-label") Route
            .col-sm-10
              input(type="text" name="route" value=service.route placeholder="Enter route" class="form-control" required)

        // Submit Button
        button(type="submit" class="btn btn-primary  mt-4") Update Service

    // Include jQuery
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")

    // jQuery for dynamic fields
    script.
      $(document).ready(function() {
        let cardCount = 1;
        let benefitCount = 1;
        let faqCount = 1;

        // Add Card Button
        $('#addCardBtn').on('click', function() {
          if (cardCount < 3) {
            cardCount++;
            const newCard = `
                <div class="borderadd">
                  <div class="row mb-3">
                    <label for="card${cardCount}Name" class="col-sm-2 col-form-label form-label">Card ${cardCount} Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="card${cardCount}Name" placeholder="Enter Card ${cardCount} name" class="form-control" required>
                    </div>
                  </div>
                  <div class="row mb-3">  
                    <label for="card${cardCount}Desc" class="col-sm-2 col-form-label form-label">Card ${cardCount} Description</label>
                    <div class="col-sm-10">
                      <input type="text" name="card${cardCount}Desc" placeholder="Enter Card ${cardCount} description" class="form-control" required>
                    </div>
                  </div>
                </div>`
            $('.card-section').append(newCard);
          }
          if (cardCount === 3) {
            $('#addCardBtn').hide(); // Hide button after 3 cards
          }
        });

        // Add Benefit Button
        $('#addBenefitBtn').on('click', function() {
          if (benefitCount < 3) {
            benefitCount++;
            const newBenefit = `
            <div class="borderadd">
              <div class="row mb-3">
                <label for="benefit${benefitCount}" class="col-sm-2 col-form-label form-label">Benefit Point ${benefitCount}</label>
                <div class="col-sm-10">
                <input type="text" name="benefit${benefitCount}" placeholder="Enter benefit ${benefitCount}" class="form-control" required>
             </div>
             </div>
              </div>`;
            $('.benefit-section').append(newBenefit);
          }
          if (benefitCount === 3) {
            $('#addBenefitBtn').hide(); // Hide button after 3 benefits
          }
        });

                // Add FAQ Button
        $('#addFAQBtn').on('click', function() {
          if (faqCount < 5) {
            faqCount++;
            const newFAQ = `
              <div class="borderadd">
                <div class="row mb-3">
                  <label for="faqQuestion${faqCount}" class="col-sm-2 col-form-label form-label"> <strong>Q${faqCount}</strong></label>
                  <div class="col-sm-10">
                    <input type="text" name="faqQuestion${faqCount}" placeholder="Enter FAQ question" class="form-control" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="faqAnswer${faqCount}" class="col-sm-2 col-form-label form-label"> <strong>A${faqCount}</strong></label>
                  <div class="col-sm-10">
                    <input type="text" name="faqAnswer${faqCount}" placeholder="Enter FAQ Answer" class="form-control" required>
                  </div>
                </div>
              </div>`;
            $('.faq-section').append(newFAQ);
          }
          if (faqCount === 5) {
            $('#addFAQBtn').hide();
          }
        });

        function previewImage(input, previewId) {
          const file = input.files[0];
          const reader = new FileReader();
          reader.onload = function(e) {
            //- $(previewId).attr('src', e.target.result).show();
          };
          reader.readAsDataURL(file);
        }

        $('#subImage').change(function() {
          previewImage(this, '#subImagePreview');
        });

        $('#bannerImage').change(function() {
          previewImage(this, '#bannerImagePreview');
        });

        $('#mainImage').change(function() {
          previewImage(this, '#mainImagePreview');
        });

        $('#benefitImage').change(function() {
          previewImage(this, '#benefitImagePreview');
        });

        $('#ourApproachImage').change(function() {
          previewImage(this, '#ourApproachImagePreview');
        });

        $('#userFriendlyImage').change(function() {
          previewImage(this, '#userFriendlyImagePreview');
        });

      });
